* Mathematics of counting

#### Given three True/False questions. Count the total number of ways to answer the questions?
* ans = 8

* Fundamental principal of counting
* AND -> Multiply

#### If there are 10 girls and 7 boys in a hall. Count the total number of ways to pick one 'boy-girl' couple?

* ans = 17

#### If there are 3 different paths from Hyderabad to Mumbai and 4 different paths from Mumbai to Delhi. Count the total number of paths from Hyderabad to Delhi via Mumbai.?

* ans = 12

#### If there are 2 different paths from Hyderabad to Nagpur and 3 different paths from Nagpur to Delhi. Count the total number of paths from Hyderabad to Delhi via Nagpur.

* ans = 6

#### If you have the following number of different paths:
1. Hyderabad to Mumbai : 3 
2. Hyderabad to Nagpur : 2
3. Mumbai to Delhi : 4
4. Nagpur to Delhi : 3

#### Count the total number of paths from Hyderabad to Delhi.?

* ans = 18

#### You have the following items:
1. Pens: 3
2. Books: 5
3. Flowers: 7
4. Chocolates: 3
5. Rings: 3

#### You can only gift one of the following combos, count the total number of ways to form gifts.
1. 1 pen & 1 book 
2. 1 flower & 1 chocolate 
3. 1 ring

* ans = 39

### Permutations 

* arrangement of objects

* i,j != j,i

#### Q7.Count the number of ways to arrange 3 characters a, b, & c

* ans = 6

#### Q8) Count the number of ways to arrange 4 different characters a, b, c & d?

* ans = 24

#### Q9) Count the number of ways to arrange 0 distinct characters?

* ans = 1

#### Q10) Given 5 different characters, in how many ways can we arrange them in 2 places?

* ans = 20

* No of ways to arrange n distinct items at Y places 
* n!/(n-Y)!

### Combination

* Selection of objects
* In Permutation order matter

* In Combination order doesn't matter
* i,j = j,i

#### Q1) In how many ways can we select 3 batsmen from a pool of 4 cricketers.

* ans = 4

* Permutation = n!/(n-r)!

* Combinations = n!/r!*(n-r)!

#### Properties

1. nC1 = n!/(n-1)!1! = n

2. nC0 = n!/n!0! = 1

3. nCr = nCn-r 
* -> n!/r!(n-r)! = n!/(n-r)!r!

4. nCr = n-1Cr + n-1Cr-1

#### Q2) What is nC0 + nC1 + nC2 + ..... + nCn?

* ans = 2^n