* it follow key - value paired
* dict are not ordered and indexable
* We can access dict by using key
* key will be unique

In [1]:
a = {{1,2,3,4,5}} # python does not allow

TypeError: unhashable type: 'set'

In [2]:
a = [[1,2],[3,4],[4,5]]

In [3]:
a[1]

[3, 4]

In [4]:
a,b = a[1]

In [5]:
a

3

In [6]:
b

4

In [7]:
s1 = {1,2,3}
s2 = {2,3,4,5}

result = s1&s2-s2

In [8]:
result

set()

In [9]:
a = {
    'random': 'something which is not well defined!',
    'bizzare': 'Ajeeb!',
    'ship':'sea transportation'
}

In [10]:
state_wise_data = {
    'Delhi': 450,
    'Haryana': 400,
    'UP': 700
}

In [11]:
state_wise_data = [('Delhi',450),('Haryana',400)]

In [16]:
state_wise_data[0]

KeyError: 0

In [17]:
state_wise_data = {
    'Delhi': 450,
    'Haryana': 400,
    'UP': 700
}

In [18]:
state_wise_data['Delhi']

450

In [19]:
state_wise_data['Haryana']

400

In [21]:
## Till python <3.7 -> Dictionaries were unordered
## After 3.7 -> Dictinaries ordered

In [22]:
a = {}
print(type(a))

<class 'dict'>

In [24]:
a = set()

In [25]:
a

set()

In [26]:
a = {
    'Delhi': 450,
    'Haryana': 400,
    'UP': 700
}

In [27]:
a['Delhi'] = 500

In [28]:
a

{'Delhi': 500, 'Haryana': 400, 'UP': 700}

In [29]:
a['delhi'] = 600

In [30]:
a

{'Delhi': 500, 'Haryana': 400, 'UP': 700, 'delhi': 600}

In [31]:
Avenger = {
    'name':'Thor',
    'age':1500,
    'weapon':['mjoinir','stormbreaker']
}

In [33]:
Avenger.update({
    'name':'Thor Odinson',
    'weapons':['stormbreaker'],
    'strongest': True,
    'eyes':1
})

In [34]:
Avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapon': ['mjoinir', 'stormbreaker'],
 'weapons': ['stormbreaker'],
 'strongest': True,
 'eyes': 1}

In [36]:
random = {
    'a':1,
    'b':2,
    'c':3
}

In [43]:
random = {
    'a':1,
    'b':2,
    'c':3,
    'd':None
}

In [37]:
random['d']

KeyError: 'd'

In [38]:
result = random.get('d')

In [40]:
print(result)

None

In [41]:
result = random.get('d',"Not Found")

In [42]:
result

'Not Found'

In [44]:
random

{'a': 1, 'b': 2, 'c': 3, 'd': None}

In [45]:
random.pop('d')

In [46]:
random

{'a': 1, 'b': 2, 'c': 3}

In [47]:
a = {
    'sad': "bad emotion",
    'low': 'bad emotion',
    'grief': 'bad emotion',
    'unhappy': 'bad emotion'
}

In [48]:
a.pop('unhappy') # pop by key

'bad emotion'

In [49]:
a

{'sad': 'bad emotion', 'low': 'bad emotion', 'grief': 'bad emotion'}

In [50]:
a = {
    'name':'Thor Odinson',
    'weapons':['stormbreaker'],
    'strongest': True,
    'eyes':1
}

In [51]:
for i in a:
    print(i)

name
weapons
strongest
eyes

In [52]:
for i in a:
    print(a[i])

Thor Odinson
['stormbreaker']
True
1

In [54]:
for i in a:
    print(f'{i} -> {a[i]}')

name -> Thor Odinson
weapons -> ['stormbreaker']
strongest -> True
eyes -> 1

In [55]:
Avenger.keys() # list of all key

dict_keys(['name', 'age', 'weapon', 'weapons', 'strongest', 'eyes'])

In [56]:
Avenger.values() # list of all value

dict_values(['Thor Odinson', 1500, ['mjoinir', 'stormbreaker'], ['stormbreaker'], True, 1])

In [57]:
Avenger.items() # List of all key-value

dict_items([('name', 'Thor Odinson'), ('age', 1500), ('weapon', ['mjoinir', 'stormbreaker']), ('weapons', ['stormbreaker']), ('strongest', True), ('eyes', 1)])

In [58]:
type(list(Avenger.keys()))

list

In [59]:
for i in Avenger.keys():
    print(i)

name
age
weapon
weapons
strongest
eyes

In [60]:
for i in Avenger.values():
    print(i)

Thor Odinson
1500
['mjoinir', 'stormbreaker']
['stormbreaker']
True
1

In [61]:
for i in Avenger.items():
    print(i)

('name', 'Thor Odinson')
('age', 1500)
('weapon', ['mjoinir', 'stormbreaker'])
('weapons', ['stormbreaker'])
('strongest', True)
('eyes', 1)

In [65]:
for key,values in Avenger.items():
    print(f'{key} --> {values}')

name --> Thor Odinson
age --> 1500
weapon --> ['mjoinir', 'stormbreaker']
weapons --> ['stormbreaker']
strongest --> True
eyes --> 1

In [66]:
Avenger.keys()

dict_keys(['name', 'age', 'weapon', 'weapons', 'strongest', 'eyes'])

In [67]:
a = [1,2,3,4,5]

In [68]:
6 in a

False

In [69]:
'eyes' in Avenger.keys()

True

In [70]:
'name' in Avenger.keys()

True

### We can't have sets, dictionaries and list as elements of a set
### Because they are Mutable ->  Unheashable

In [71]:
'''
Dictonaries -
1. Values - Any Data Structure or Data type
2. Keys - Lists, Sets and Dictionaries are not allowed
'''

'\nDictonaries -\n1. Values - Any Data Structure or Data type\n2. Keys - Lists, Sets and Dictionaries are not allowed\n'

In [72]:
random = {
    'key1': [45,56,78],
    'key2': {
        'key3': (1,2,3)
    },
    45:'value3',
    56.78:'678',
    (1,2,3):'random values'
}

In [74]:
random[(1,2,3)]

'random values'

In [75]:
random = {
    'key1': [45,56,78],
    'key2': {
        'key3': (1,2,3)
    },
    45:'value3',
    56.78:'678',
    [1,2,3]:'random values'
}

TypeError: unhashable type: 'list'

In [76]:
'''
Question -
1. Take a string as input.
2. Create a dictionary acc to the following criteria-
-> There will be one key value pair for each unique character -
-> key will be character and value will be the count of character inside the list

Input ;- 'rrsssttt'
Output ;- 
{
"r":2,
"s":3,
"t":4

}
'''

'\nQuestion -\n1. Take a string as input.\n2. Create a dictionary acc to the following criteria-\n-> There will be one key value pair for each unique character -\n-> key will be character and value will be the count of character inside the list\n\nInput ;- \'rrsssttt\'\nOutput ;- \n{\n"r":2,\n"s":3,\n"t":4\n\n}\n'

In [77]:
string = 'this is a random string with various characters'

In [78]:
set(string)

{' ',
 'a',
 'c',
 'd',
 'e',
 'g',
 'h',
 'i',
 'm',
 'n',
 'o',
 'r',
 's',
 't',
 'u',
 'v',
 'w'}

In [81]:
result = {}
for i in set(string):
    result[i] = string.count(i)

In [82]:
result

{'d': 1,
 'i': 5,
 'e': 1,
 'v': 1,
 'r': 5,
 'c': 2,
 'h': 3,
 'n': 2,
 't': 4,
 'g': 1,
 'm': 1,
 'a': 5,
 'u': 1,
 's': 5,
 'w': 1,
 'o': 2,
 ' ': 7}

In [83]:
a = [(1,'a'),(2,'b'),(3,'c'),(4,'d')]

In [84]:
for i,j in a:
    print(i,j)

1 a
2 b
3 c
4 d