In [1]:
# for loop
# In loop we do iteration
# While condition is true ;- do this

* Instead of condition for loop work on fixed range
* for every element in range (a,b) do this
* fixed range instead of condition 
* In while we stop when condition become false

In [ ]:
a = input()
while a:
    if len(a) ==6:
        a = " "
        print("END!")

6

In [2]:
a = input()
while a:
    if len(a) ==6:
        a = " "
        print("END!")

8

KeyboardInterrupt:

* Range --> range(start,end)
* range will start at starting end at ending

In [3]:
range[(5)]
# this will go from 0 ---------> end
# if start value not provided, default value is always 0

TypeError: type 'range' is not subscriptable

* (a,b) -> all nos fromma to b
* ( ) -> a&b are not included
* (3,8) -> 4,5,6,7
* [ ] -> a&b are included
* [3,8] -> 3,4,5,6,7,8

### Mixed range :
* [3,8) -> 3,4,5,6,7
* python follows mixed range

In [4]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [5]:
len(list(range(5)))

5

In [6]:
print(list(range(0)))

[]

In [7]:
range(0)

range(0, 0)

In [8]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
# ranges does not work with floating point number
range(5.5)

TypeError: 'float' object cannot be interpreted as an integer

In [11]:
print(list(range(8,8)))

[]

In [12]:
print(list(range(-1,3)))

[-1, 0, 1, 2]

In [13]:
print(list(range(-9,-1)))

[-9, -8, -7, -6, -5, -4, -3, -2]

In [14]:
# give empty because opposite of scale
print(list(range(-1,-9)))

[]

#### Jump or difference in ranges

In [17]:
print(list(range(2,10)))

[2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
print(list(range(2,10,2)))

[2, 4, 6, 8]

* The third value is the jump/step value
* Default value for step/jump =1

In [19]:
# -ve jump
print(list(range(-1,-9,-1)))

[-1, -2, -3, -4, -5, -6, -7, -8]

* We can go from bigger value to smaller value with -ve jump/step

### Q1.) Print all numbers from 1 to N using a loop

In [20]:
N = int(input())
for i in range(1,N+1):
    print(i)

4
1
2
3
4

* In this case intialisation and updatation of counter variable is handled automatically by python

### Q2.) Calculate sum of all numbers from 1 to N using a for loop

In [3]:
number = int(input("Please enter number ;- "))
final_sum =0
for value in range(number+1):
    final_sum += value
    print(value)

Please enter number ;- 34
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34

### Q3.) Print all number from an input N to 1 where N>1

In [4]:
number = int(input())
for i in range(number,0,-1):
    print(i)

22
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

* Solve with -1 -ve jump/step

In [6]:
n=int(input("Enter the number;- "))
for i in range(1,n+1):
    print(n-i+1)

Enter the number;- 9
9
8
7
6
5
4
3
2
1