* Lists ;- ordered collection of data, python does not have array, python does has list with extra features.

* A data structure hold multiple value and 1 variable use to store data entire in data structured

In [2]:
## Creating a list -> []
runs_virat = [67,54,12,34,77,89,101]
runs_virat

[67, 54, 12, 34, 77, 89, 101]

In [3]:
type(runs_virat)

list

* List have no limit om how many values it can store
* List are accessible using index
* List are indexable

In [4]:
runs_virat[1]

54

In [5]:
# Total count of element in list
len(runs_virat)

7

In [6]:
a=[4,-1,6,7,8,1]

In [7]:
a[0]

4

### run score by virat in last match ?

In [8]:
runs_virat[-1]

101

In [9]:
runs_virat[len(runs_virat)-1]

101

In [10]:
runs_virat[-len(runs_virat)]

67

In [14]:
runs = [45,67,89,12,34,56,100]

### Q.1) Print total of runs on odd postion in list

In [15]:
print(runs[0]+runs[2]+runs[4]+runs[6])

268

### Can we add more element list ?

* Lists have various methods for addition

* append is a method on the list data-type

In [16]:
runs.append(71)

In [17]:
runs

[45, 67, 89, 12, 34, 56, 100, 71]

### If you want to append at particular location
* insert method can be used to insert at any index

In [18]:
runs.insert(0,25)

In [19]:
runs

[25, 45, 67, 89, 12, 34, 56, 100, 71]

* Adding multiple value at once can be done using extend

In [20]:
new_runs = [130,69,92]

In [21]:
runs.extend(new_runs)

In [22]:
runs

[25, 45, 67, 89, 12, 34, 56, 100, 71, 130, 69, 92]

### Methods to add to a list

* [1,2,4,5,6] -> add an element at the end --> list.append(element)
* [1,2,3,4,5] -> add an element at the index 1 --> list.insert(index,element)
* [1,2,4] -> add multiple value at the end --> list.extend([4,5,6,7,.....])

In [23]:
runs=runs+[56]

In [24]:
runs

[25, 45, 67, 89, 12, 34, 56, 100, 71, 130, 69, 92, 56]

### use this instead of extend ?

In [25]:
runs=runs+[200,250,300]
runs

[25, 45, 67, 89, 12, 34, 56, 100, 71, 130, 69, 92, 56, 200, 250, 300]

### i -> iterator --> variable used to iterate

In [26]:
for i in range(5):
    print(i)

0
1
2
3
4

### range(5) --> iterable --> the collection of values on which we iterate
### print(i) --> iteration block --> body of the for loop

In [27]:
a = [56,78,89,32,101,4]
a

[56, 78, 89, 32, 101, 4]

In [28]:
for i in a:
    print(i)

56
78
89
32
101
4

In [29]:
runs_virat

[67, 54, 12, 34, 77, 89, 101]

### Q2.) In runs_virat calculate the sum,average,max and min runs

In [30]:
average_runs=0
sum_runs=0
min_runs=0
max_runs=0
length_runs=0

In [31]:
for i in a:
    sum_runs+=i
    length_runs+=1

In [32]:
average_runs=sum_runs/length_runs

In [33]:
average_runs

60.0

In [34]:
for i in a:
    if i>max_runs:
        max_runs=1

In [37]:
average_runs = sum_runs/len(runs_virat)
average_runs

51.42857142857143

In [38]:
max(runs_virat)

101

In [39]:
min(runs_virat)

12

### Q3.) Calculate sum of runs made by virat on all matches with even index

In [42]:
sum_even_runs=0
for i in runs_virat:
    print(i)
    if i%2 ==0:
        sum_even_runs+=i
sum_even_runs

67
54
12
34
77
89
101

100

In [47]:
sum_even_runs=0
for i in range(len(runs_virat)):
    if i%2==0:
        print(runs_virat[i])
        sum_even_runs+=runs_virat[i]

67
12
77
101

In [52]:
n = int(input())
for i in range(n):
    for j in range(n):
        if i==j or i==0 or j==n-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

5
* * * * *
  *     *
    *   *
      * *
        *

### Lists Slicing

In [53]:
runs

[25, 45, 67, 89, 12, 34, 56, 100, 71, 130, 69, 92, 56, 200, 250, 300]

### Q.) Given a list of all runs by virat,print runs made in odd numbered matches (even index)

In [54]:
for i in range(len(runs)):
    if i %2 ==0:
        print(runs[i],end=" ")

25 67 12 56 71 69 56 250

#### Create a new list

In [60]:
def odd_runs(runs):
    result=[]
    for i in range(len(runs)):
        if i%2==0:
            result.append(runs[i])
    return result

In [61]:
runs_odd=odd_runs(runs)

runs_odd

### Q3.) New list of run made in last 5 matches

In [64]:
result = []
for i in range(len(runs)-5,len(runs)):
    result.append(runs[i])
result

[92, 56, 200, 250, 300]

In [63]:
result

[92, 56, 200, 250, 300]

In [65]:
result=[]
for i in range(1,6):
    result.append(runs[-i])
result

[300, 250, 200, 56, 92]

### Q4.) run made in first 3 matches

In [66]:
for i in range(3):
    print(runs[i])

25
45
67

### Q5.) create a new list of runs from 3rd match to 7th matches

In [67]:
for i in range(2,7):
    print(runs[i])

67
89
12
34
56

In [68]:
for i in range(len(runs)):
    if i>=2 and i<=6:
        print(runs[i])

67
89
12
34
56