Dunders or Magical Methods

These are special methods which help us change the default behaviours connected to objects

In [ ]:
class Car:

  def __init__(self,name,mileage):
    self.name = name
    self.mileage = mileage

In [ ]:
c1 = Car("Nexon",14)

In [ ]:
print(c1)

<__main__.Car object at 0x7f2da2fde3b0>

In [ ]:
#If I have to print: "Nexon --> 14"

In [ ]:
class Car:

  def __init__(self,name,mileage):
    self.name = name
    self.mileage =mileage

  #whenever an object is printed, that class '__str__' dunder is called internally
  def __str__(self):
    return f"{self.name} --> {self.mileage}"

In [ ]:
c1 = Car("Nexon",14)

In [ ]:
print(c1)

Nexon --> 14

In [ ]:
c2 = Car("Harrier",16)

In [ ]:
print(c2)

Harrier --> 16

In [ ]:
c1+c2

TypeError: unsupported operand type(s) for +: 'Car' and 'Car'

In [ ]:
class Car:

  def __init__(self,name,mileage):
    self.name = name
    self.mileage =mileage

  #whenever an object is printed, that class '__str__' dunder is called internally
  def __str__(self):
    return f"{self.name} --> {self.mileage}"

  def __add__(self,other):
    return self.mileage + other.mileage

In [ ]:
c1 = Car("Nexon",14)
c2 = Car("Harrier",16)

In [ ]:
c1+c2

30

In [ ]:
#HW --> c1 + c2 + Car("Swift",15)

In [ ]:
class Car:

  def __init__(self,name,mileage):
    self.name = name
    self.mileage =mileage

  #whenever an object is printed, that class '__str__' dunder is called internally
  def __str__(self):
    return f"{self.name} --> {self.mileage}"

  def __add__(self,other):
    return self.mileage + other.mileage

  def __mul__(self,other):
    return self.mileage * other.mileage

In [ ]:
c1 = Car("Nexon",14)
c2 = Car("Harrier",16)

In [ ]:
c1*c2

224

**Inheritance**



*   Parent -> Child relationship. In this Child inherit the property of parents class such type of Inherit is called **Single-level** Inheritance
*   **multi-level** Vehicle -> Car -> SportsCar
*   **Multiple** Inheritance A - C - B. Here C will inherit property of both A & B.
*   **Heirarcial**  Inheritance. Truck - Vehicle - Car
*   **Hybrid** Inheritance. Combination of multiple and Multi-level

In [ ]:
class Parent:
  def __init__(self):
    print("Parent")

class Child(Parent):
  def __init__(self):
    print("Child")

In [ ]:
class SchoolMember:
  pass

class Student(SchoolMember):
  pass

class Staff(SchoolMember):
  pass

class Teacher(Staff):
  pass

In [ ]:
class SchoolMember:
  def __init__(self,name):
    self.name= name

class Student(SchoolMember):
  def __init__(self,name,age):
    self.age = age

class Staff(SchoolMember):
  def __init__(self,name,salary):
    self.salary = salary

class Teacher(Staff):
  def __init__(self,name,salary,subject):
    self.subject =subject

In [ ]:
s1 = Student("Yuvraj",25)

In [ ]:
s1.age

25

In [ ]:
s1.name

AttributeError: 'Student' object has no attribute 'name'

In [ ]:
class SchoolMember:
  def __init__(self,name):
    self.name= name

class Student(SchoolMember):
  def __init__(self,name,age):
    super().__init__(name)
    self.age = age

class Staff(SchoolMember):
  def __init__(self,name,salary):
    self.salary = salary

class Teacher(Staff):
  def __init__(self,name,salary,subject):
    self.subject =subject

In [ ]:
s1 = Student("Yuvraj",25)

In [ ]:
s1.age

25

In [ ]:
s1.name

'Yuvraj'

In [ ]:
class SchoolMember:
  def __init__(self,name):
    self.name= name

class Student(SchoolMember):
  def __init__(self,name,age):
    super().__init__(name)
    self.age = age

class Staff(SchoolMember):
  def __init__(self,name,salary):
    super().__init__(name)
    self.salary = salary

class Teacher(Staff):
  def __init__(self,name,salary,subject):
    super().__init__(name,salary)
    self.subject =subject

In [ ]:
s2 = Teacher("Rahul",10000,"Maths")

In [ ]:
s2.name

'Rahul'

In [ ]:
s2.salary

10000

In [ ]:
s2.subject

'Maths'

**Multiple Inheritance**

In [ ]:
class A:
  def __init__(self,a):
    self.a = a

class B:
  def __init__(self,b):
    self.b = b

class C(A,B):
  def __init__(self,a,b,c):
    A.__init__(self,a)
    B.__init__(self,b)
    self.c = c

In [ ]:
c1 = C(3,5,2)

In [ ]:
c1.a

3

In [ ]:
c1.b

5

In [ ]:
c1.c

2

In [ ]:
#HW --> Figure out the way to use super() in the above case

**Private Properties**

In [ ]:
class BankAccount:

  def __init__(self,initial_balance):
    self.balance = initial_balance

  def deposite(self,amount):
    self.balance += amount

  def withdrawl(self,amount):
    self.balance -= amount

In [ ]:
acc1 = BankAccount(10000)

In [ ]:
acc1.balance

10000

In [ ]:
acc1.deposite(5000)

In [ ]:
acc1.balance

15000

In [ ]:
acc1.withdrawl(12000)

In [ ]:
acc1.balance

3000

In [ ]:
acc1.balance = 2345678986545687654

In [ ]:
acc1.balance

2345678986545687654

So user should not have to access such a critical information like increasing Balance

**Private attributes**
1.   They are only accessible inside the class
2.   Objects can't access them outside the class
3.   They cannot be inherited

In [ ]:
## _ _ is consider as a private

## Whenever you are modifying is called as Setter functions

In [ ]:
class BankAccount:

  def __init__(self,initial_balance):
    self.__balance = initial_balance

  # Setter
  def deposite(self,amount):
    self.__balance += amount

  def withdrawl(self,amount):
    self.__balance -= amount

  # Getter
  def show_balance(self):
    return self.__balance

In [ ]:
acc1 =  BankAccount(10000)

In [ ]:
acc1.deposite(2000)

In [ ]:
acc1.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [ ]:
acc1.show_balance()

12000

In [ ]:
##Name Mangling

In [ ]:
acc1._BankAccount__balance

12000

In [ ]:
acc1._BankAccount__balance = 234568976765453254

In [ ]:
acc1.show_balance()

234568976765453254

**In Python nothing is completly private**

In [ ]:
class BankAccount:

  def __init__(self,initial_balance):
    self.__balance = initial_balance

  # Setter
  def deposite(self,amount):
    self.__balance += amount

  def withdrawl(self,amount):
    self.__balance -= amount

  # Getter
  def show_balance(self):
    return self.__balance

  def __special_private_func(self):
    print("I am a private method")

In [ ]:
acc1.show_balance()

234568976765453254

In [ ]:
acc1.__special_private_func()

AttributeError: 'BankAccount' object has no attribute '__special_private_func'

Q1.

In [ ]:
# What would be the output of the following
class A:
    print("Am I a class?")

A() #1

obj1 = A() #2

if A(): #3
    print(A()) #4

Am I a class?
<__main__.A object at 0x7f2d70424ca0>

In [ ]:
# What would be the output of the following
class Student:
    def __init__(random, id, age):
        random.id = id
        random.age = age

In [ ]:
s1 = Student(1, 5000)

In [ ]:
# What would be the output of the following
class A:
    def __init__(self, name):
        self.name = name

a1 = A("Bunty")
a2 = A("Babli")

a1 & a2 are 2 different objects

In [ ]:
print(id(a1) == id(a2))

False

In [ ]:
# What would be the output of the following
class Counter:
    def __init__(self):
        self.count=5
        self.count=count+1

In [ ]:
c = Counter()
print(c.count)

NameError: name 'count' is not defined


What are the functions inside a class called in python?
* Methods

In [ ]:
# What would be the output of the following?

class Random:
    def __init__(self, a = "Is it possible?"):
        self.a = a

    def display(self):
        print(self.a)

In [ ]:
r = Random()
r.display()

Is it possible?

In [ ]:
#What would be the output of the following?
class A:
    def __init__(self):
        self.variable = 'Old'
        self.update(self.variable)

    def update(self, var):
        var = 'New'

In [ ]:
a = A()
print(a.variable)

Old

What do you mean by instantiation when it comes to OOPS?

* Creating an object of a class

Which of the following code pieces would create an empty class in python?

* class A: pass

In [ ]:
#What would be the output of the following?

class A:
    def do_something(self):
        print("I do something!")

class B(A):
    def do_something(self):
        super().do_something()
        print("I also do something!")

In [ ]:
b = B()
b.do_something()

I do something!
I also do something!

Methods Resolution Order (MRO)



*   Rule 1: Left to Right in Parents
*   Rule 2: Go to the Parent when all the childs are considered

In [ ]:
class A:
  x=1

class B(A):
  x=2

class C(B):
  x=3

class D(A):
  x=4

class E(C,D):
  pass

In [ ]:
e = E()

In [ ]:
e.x

3

In [ ]:
E.__mro__

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)

In [ ]:
class A:
  x=1

class B(A):
  x=2

class C(B):
  pass

class D(A):
  x=4

class E(C,D):
  pass

In [ ]:
e = E()

In [ ]:
e.x

2

In [ ]:
E.__mro__

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)