#### Basic Principles of Functional Programming
* Treat Functions as FCCs (First Class Citizens - Objects)
* Treat Variables as immutable
* Data should be seaprated from functions

In [1]:
x = 5 #inital dataset

# hidden mutation -> changes

x = 3*x
x = x+1

# hidden mutation

print(x)

# Problem -> Can't rollback mutation or initial number

16

In [2]:
x =5
x1 = 3*x
x2 = x1+1

print(x2)

# Problem --> Too many copies

16

In [3]:
x=5

def mutation_func(x):
    x = 3*x
    x=x+1
    return x

x1 = mutation_func(x)

# Limited and well defined copies are created

In [4]:
x

5

In [5]:
x1

16

### Maps

* Mapping one things to another

* map(function_to_perform, * iterables)

* Can take multiple iterables
* Returns a map object that can be converted to other iterables

In [6]:
'''
Given a list, create a new list that stores the square of each element of the given list.

[1,2,3,4,5]
ops: [1,4,9,16,25]
'''

'\nGiven a list, create a new list that stores the square of each element of the given list.\n\n[1,2,3,4,5]\nops: [1,4,9,16,25]\n'

In [8]:
a = [1,2,3,4,5]

ans = [x**2 for x in a]

print(ans)

[1, 4, 9, 16, 25]

In [9]:
a = [1,2,3,4,5]

result = map(lambda x : x**2,a)

In [11]:
print(result)

<map object at 0x0000018ACBEDA020>

In [12]:
a = [1,2,3,4,5]

result = list(map(lambda x : x**2,a))

In [13]:
result

[1, 4, 9, 16, 25]

In [14]:
%timeit [x**2 for x in range(1000000)]

354 ms ± 1.17 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [16]:
%timeit (map(lambda x:x**2,list(range(1000000))))

30.4 ms ± 160 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [17]:
a = [1,2,3,4,5]
b = [10,20,30,40,50]

In [19]:
list(map(lambda x,y : x+y,a,b))

[11, 22, 33, 44, 55]

In [20]:
a = [1,2,3,4,5]
b = [10,20,30,40,50,60,70,80]

In [21]:
list(map(lambda x,y : x+y,a,b))

[11, 22, 33, 44, 55]

In [ ]:
 '''
 Using map
 Given a list of heights in inches, convert them into t-shirt sizes using the following mapping:
 
 height -> 150 -> "Small"
 height >= 150 and height < 180 -> "Medium"
 height >= 180 -> "Large"
 
 ip: [150,120,168,202,110]
 '''

In [38]:
height = [150,120,168,202,110]


sizes = list(map(lambda x:"Small" if x<150 else "Medium" if x>=150 and x <180 else "Large" ,height))
sizes

['Medium', 'Small', 'Medium', 'Large', 'Small']

In [39]:
def height_to_sizes(h):
    if h<150:
        return "Small"
    elif h>=150 and h<180:
        return "Medium"
    return "Large"

In [40]:
height = [150,120,168,202,110]

sizes = list(map(height_to_sizes,height))
sizes

['Medium', 'Small', 'Medium', 'Large', 'Small']

### Filter
* filtering out output on basis of condition
* if condition matching than only get output otherwise not

In [22]:
a = list(range(1,21))

In [23]:
filter(lambda x: x%2 ==0,a)

In [24]:
res = list(filter(lambda x: x%2 ==0,a))

In [25]:
res

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [27]:
res = list(filter(lambda x: x%2 !=0,a))
res

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [28]:
a = [[1,2],[1,4,5,6],[1],[],[],[],[2,3,4,5,6,6]]

res = list(filter(lambda x:len(x) !=0,a))
res

[[1, 2], [1, 4, 5, 6], [1], [2, 3, 4, 5, 6, 6]]

In [30]:
a = list(range(1,21))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [31]:
def filtering_logic(x):
    return x%2 ==0

In [32]:
ans = list(filter(filtering_logic,a))
ans

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Zip

In [33]:
a = [1,3,5,4,9]
b=["a","d","b","c","f"]

res = list(zip(a,b))
res

[(1, 'a'), (3, 'd'), (5, 'b'), (4, 'c'), (9, 'f')]

In [34]:
a = [1,3,5,4,9]
b=["a","d","b","c","f","h","i"]

res = list(zip(a,b))
res

[(1, 'a'), (3, 'd'), (5, 'b'), (4, 'c'), (9, 'f')]

In [36]:
a = [1,3,5,4,9]
b=["a","d","b","c","f","h","i"]
c = [44,70,90]

res = list(zip(a,b,c))
res

[(1, 'a', 44), (3, 'd', 70), (5, 'b', 90)]

In [37]:
a = [1,3,5,4,9]
b=["a","d","b","c","f","h","i"]
c = [44,70,90]

res = list(zip(b,c,a))
res

[('a', 44, 1), ('d', 70, 3), ('b', 90, 5)]

In [41]:
a = [1,2,3]
b = ["x","y",'z']

ans = list(zip(a,b))
ans

[(1, 'x'), (2, 'y'), (3, 'z')]

### Reduce

In [43]:
from functools import reduce

In [44]:
a = [1,2,3,4,5]

ans = reduce(lambda x,y : x+y, a)

In [45]:
ans

15

In [46]:
s = ["This","is","s","list","of","strings"]
# op : "This is a list of strings"

In [49]:
ans = reduce(lambda x,y : x+ " "+y, s)

In [50]:
ans

'This is s list of strings'

In [52]:
a = [1,2,3,4,5]

res = reduce(lambda x,y : x if x>y else y,a)
res

5

In [53]:
a = [1,2,3,4,5]

ans = reduce(lambda x,y : x+y,a,100)
ans

115

### Args and kwargs

In [54]:
def sum_numbers(x,y):
    return x+y

In [55]:
sum_numbers(3,5)

8

In [56]:
sum_numbers(3,8)

11

In [57]:
sum_numbers(3,5,2)

TypeError: sum_numbers() takes 2 positional arguments but 3 were given

In [58]:
def sum_numbers(x,y,*args):
    print(x)
    print(y)
    print(args)

In [59]:
sum_numbers(3,5)

3
5
()

In [60]:
sum_numbers(3,5,6)

3
5
(6,)

In [61]:
sum_numbers(3,5,6,7,4,6)

3
5
(6, 7, 4, 6)

In [64]:
def modified_sum(x,y,*args):
    result = x+y
    
    if len(args) !=0:
        result += sum(args)
        
    return result

In [65]:
modified_sum(3,5)

8

In [66]:
modified_sum(3,5,7,8)

23

In [67]:
modified_sum(3,5,7,8,10)

33

In [68]:
#### kwargs

In [69]:
def create_person(name,age,city):
    profile = {
        "name" : name,
        "age" : age,
        "city" : city
    }
    
    return profile

In [70]:
create_person(name = "yuvraj", age=24, city="Mumbai")

{'name': 'yuvraj', 'age': 24, 'city': 'Mumbai'}

In [71]:
def create_person(name,age,city,**kwargs):
    print(name)
    print(age)
    print(city)
    print(kwargs)

In [72]:
create_person(name = "Yuvi", age=25, city ="Vasai")

Yuvi
25
Vasai
{}

In [73]:
create_person(name = "Yuvi", age=25, city ="Vasai", state = "Maharashtra", fav_color ="Blue")

Yuvi
25
Vasai
{'state': 'Maharashtra', 'fav_color': 'Blue'}

In [74]:
def modified_profile(name,age,city, **kwargs):
    
    profile = {
        "name" : name,
        "age"  : age,
        "city" : city
    }
    
    if len(kwargs) !=0:
        profile.update(kwargs)
        
    return profile

In [75]:
modified_profile(name = "Raju", age =35, city="Pune")

{'name': 'Raju', 'age': 35, 'city': 'Pune'}

In [76]:
modified_profile(name = "Yuvi", age=25, city ="Vasai", state = "Maharashtra", fav_color ="Blue")

{'name': 'Yuvi',
 'age': 25,
 'city': 'Vasai',
 'state': 'Maharashtra',
 'fav_color': 'Blue'}

* Postional -> extra positional arguments (args) --> keyworded -> extra keyworded arguments (kwargs)

In [78]:
def show(x,y,*args,**kwargs):
    print(x)
    print(y)
    print(args)
    print(kwargs)

In [79]:
show(4,5,6,7,9,a=8,b=5,c=3)

4
5
(6, 7, 9)
{'a': 8, 'b': 5, 'c': 3}