In [1]:
x = 0
while (x<100):
    x+=2
print(x)

100

In [2]:
x = 0
while (x<100):
    x+=2
    print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

### Lists 
* List in python can store multiple data types
* List are heterogeneous in nature

In [3]:
a = ["yu",34,True,[5,6,7],6.6]

In [4]:
type(a)

list

In [5]:
a[1]

34

In [6]:
a[0]

'yu'

In [7]:
# negative indexing
a[-1]

6.6

In [8]:
n=len(a)

In [9]:
n

5

In [10]:
a[n-1]

6.6

In [11]:
a[-2]

[5, 6, 7]

### Slicing

In [12]:
a = [10,20,30,40,50,60,70,80,90,100]

In [13]:
# In slicing end is excluded
a[2:8]

[30, 40, 50, 60, 70, 80]

In [15]:
a[-6:-1]

[50, 60, 70, 80, 90]

* If step size is postive L -> R movement
* If step size is negative R -> L movement

In [16]:
b = a[:8]

In [17]:
b

[10, 20, 30, 40, 50, 60, 70, 80]

In [20]:
b[2:7]

[30, 40, 50, 60, 70]

In [21]:
b[-6:-1]

[30, 40, 50, 60, 70]

In [22]:
b[-6:7]

[30, 40, 50, 60, 70]

In [23]:
b[2:-1]

[30, 40, 50, 60, 70]

In [24]:
b[6:1:-1]

[70, 60, 50, 40, 30]

In [25]:
b[-2:-7:-1]

[70, 60, 50, 40, 30]

In [26]:
b[6:-7:-1]

[70, 60, 50, 40, 30]

In [27]:
b[-2:1:-1]

[70, 60, 50, 40, 30]

In [28]:
b[6:]

[70, 80]

In [29]:
b[:]

[10, 20, 30, 40, 50, 60, 70, 80]

In [32]:
b[::-1]

[80, 70, 60, 50, 40, 30, 20, 10]

In [33]:
sum(b)

360

In [34]:
max(b)

80

In [35]:
min(b)

10

In [36]:
len(b)

8

In [37]:
b=[4,5,'yu']

In [38]:
max(b)

TypeError: '>' not supported between instances of 'str' and 'int'

In [41]:
b = ['yu','yo','bye','tata']

In [42]:
max(b)

'yu'

In [43]:
sorted(b)

['bye', 'tata', 'yo', 'yu']

In [44]:
'aj'<'bye'

True

In [45]:
# String concatination
'aj'+'yo'

'ajyo'

In [46]:
def custom_sum(a):
    if type(a[0]) == str:
        ans = ""
    else:
        ans = 0
        
    for elem in a:
        ans+= elem
    return ans

In [48]:
s=["a","b","c"] #output :'abc'
a = [1,2,3,4]
custom_sum(s)

'abc'

In [49]:
custom_sum(a)

10

In [50]:
[3,5,7] + [2,4]

[3, 5, 7, 2, 4]

In [51]:
[3,5,7] * [2,4]

TypeError: can't multiply sequence by non-int of type 'list'

In [52]:
[3,6,1]*2

[3, 6, 1, 3, 6, 1]

In [53]:
"yu"*2

'yuyu'

In [54]:
"_"*20

'____________________'

### Tuples
* tuples are immutable 
* tuples are hetrogenous
* tuple are faster then list

In [55]:
a = (10,20,40,30)

In [56]:
a[1]=9

TypeError: 'tuple' object does not support item assignment

In [57]:
a.append(8)

AttributeError: 'tuple' object has no attribute 'append'

In [58]:
a.remove(30)

AttributeError: 'tuple' object has no attribute 'remove'

### How I can create tuple using only one element

In [60]:
a = (10)

In [61]:
type(a)

int

In [62]:
a=(10,)

In [63]:
type(a)

tuple

In [64]:
a = (1,4,6) + (7,)

In [65]:
a

(1, 4, 6, 7)

### Packing & Unpacking

In [67]:
a = (4,6,2)
x,y,z=a

In [68]:
x

4

In [69]:
y

6

In [70]:
z

2

In [71]:
# L -> R element should be same
x,y,z,b =a

ValueError: not enough values to unpack (expected 4, got 3)

In [72]:
x,y = a

ValueError: too many values to unpack (expected 2)

In [73]:
def foo():
    return 3,5,8

In [74]:
a = foo()

In [75]:
a

(3, 5, 8)

In [76]:
x,y,z = foo()

In [77]:
z

8

In [78]:
a = 5,3,9

In [80]:
a

(5, 3, 9)

### Swapping

In [81]:
a=4
b=7
a,b=b,a

In [82]:
a

7

In [83]:
b

4

### List Comprehension

In [84]:
# Create a list of the square of all the numbers from 1 to 10

In [85]:
sq = [] #empty list
for elem in range(1,11): #for loop
    sq.append(elem**2) #value to append
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
sq = [ for elem in range(1,11)]

In [87]:
sq = [ elem **2 for elem in range(1,11)]
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
a = [for elem in range(1,11)]

In [ ]:
a = [if elem%2 ==0 else elem**3 for elem in range(1,11)]

In [88]:
a = [elem**2 if elem%2 ==0 else elem**3 for elem in range(1,11)]
a

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [89]:
a =[]
for elem in range(1,11):
    if elem%2 == 0:
        a.append(elem**2)
    else:
        a.append(elem**3)

In [90]:
a

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [ ]:
# [1,2,3,4,5]
# [2,4,6,8,10]
# [3,6,9,12,15]

In [ ]:
a = [for i in range(1,11)]

In [ ]:
a = [[for j in range(1,6)]for i in range(1,11)]

In [91]:
a = [[i*j for j in range(1,6)]for i in range(1,11)]
a

[[1, 2, 3, 4, 5],
 [2, 4, 6, 8, 10],
 [3, 6, 9, 12, 15],
 [4, 8, 12, 16, 20],
 [5, 10, 15, 20, 25],
 [6, 12, 18, 24, 30],
 [7, 14, 21, 28, 35],
 [8, 16, 24, 32, 40],
 [9, 18, 27, 36, 45],
 [10, 20, 30, 40, 50]]

In [92]:
for i in range(1,11):
    for j in range(1,6):
        print(i*j)

1
2
3
4
5
2
4
6
8
10
3
6
9
12
15
4
8
12
16
20
5
10
15
20
25
6
12
18
24
30
7
14
21
28
35
8
16
24
32
40
9
18
27
36
45
10
20
30
40
50

In [94]:
a = [j+i for j in ["a","b","c"] for i in ["1","2"]]
a

['a1', 'a2', 'b1', 'b2', 'c1', 'c2']

In [95]:
for j in ["a","b","c"]:
    for i in ["1","2"]:
        print(j+i)

a1
a2
b1
b2
c1
c2

### Dictionaries

* Collection of key-value pairs

In [96]:
d={
    "name" : "yuvraj",
    "city" : "Mumbai",
    "subject" : ["DA","DS"]
}

In [97]:
d

{'name': 'yuvraj', 'city': 'Mumbai', 'subject': ['DA', 'DS']}

In [98]:
type(d)

dict

In [99]:
'''
keys -> Immutable data type 
values -> can be any python object
'''

'\nkeys -> Immutable data type \nvalues -> can be any python object\n'

In [100]:
d["name"]

'yuvraj'

In [101]:
d["country"]

KeyError: 'country'

In [102]:
d.get("country","key does not exist")

'key does not exist'

In [103]:
d.get("city","key does not exist")

'Mumbai'

In [104]:
d["country"] = "India"

In [105]:
d

{'name': 'yuvraj',
 'city': 'Mumbai',
 'subject': ['DA', 'DS'],
 'country': 'India'}

In [106]:
## Interation over dictionaries

In [107]:
for k,v in d.items():
    print(f"key ->{k}, value -> {v}")

key ->name, value -> yuvraj
key ->city, value -> Mumbai
key ->subject, value -> ['DA', 'DS']
key ->country, value -> India

### Sets

In [108]:
s = {4,6,5,5,5,2,1,2,1,2,2}
s

{1, 2, 4, 5, 6}

In [109]:
s.add(20)

In [110]:
s

{1, 2, 4, 5, 6, 20}

In [111]:
s.add(5)
s

{1, 2, 4, 5, 6, 20}

### Set Operations

* Set only contain Immutable dataset
* Set is Unoredered collection of element
* Set does not allow duplicates values

In [112]:
s1 = {1,2,4,5,6}
s2 = {2,3,5,7}

In [113]:
s1.intersection(s2)

{2, 5}

In [114]:
s1 & s2

{2, 5}

In [115]:
# Union

In [116]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [117]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7}

In [118]:
# Set Difference

In [119]:
# Element which are present in s1 but not in s2
s1 - s2

{1, 4, 6}

In [120]:
s1.difference(s2)

{1, 4, 6}

In [121]:
# Symetric difference

In [123]:
s1,s2

({1, 2, 4, 5, 6}, {2, 3, 5, 7})

In [122]:
# Union - intersection
s1.symmetric_difference(s2)

{1, 3, 4, 6, 7}

In [124]:
s1^s2

{1, 3, 4, 6, 7}

In [125]:
'''
String1 = "this as a random string which contains some reaperaing character and some non-repeating characters. Pick them!"
Return count of characters/words which only occur once in string1
'''

'\nString1 = "this as a random string which contains some reaperaing character and some non-repeating characters. Pick them!"\nReturn count of characters/words which only occur once in string1\n'

In [126]:
a=[""]*3

In [127]:
a

['', '', '']

In [130]:
b=[[""]*3]*3
b

[['', '', ''], ['', '', ''], ['', '', '']]

In [131]:
b[0][0] = 'a'

In [132]:
b

[['a', '', ''], ['a', '', ''], ['a', '', '']]

In [133]:
'''
Figure out How?
'''

'\nFigure out How?\n'

In [134]:
# Invalid range covered
a = [1,2,3,4,5,6,7,8,9,10]
a[3:8:-1]

[]

In [136]:
def access(fir,num):
    fir.append(num)
    num -= 4
    return num
fir = [1,2,3]
num=4
access(fir,num)
print(fir,num)

[1, 2, 3, 4] 4