In [1]:
x= "Whatever I write. UPPERCASE, lowercaSE, @# (##$%^()), 345678965433           "

In [2]:
print(x)

Whatever I write. UPPERCASE, lowercaSE, @# (##$%^()), 345678965433

In [3]:
type(x)

str

In [4]:
'valid string'

'valid string'

In [5]:
"valid string"

'valid string'

In [6]:
'''valid string'''

'valid string'

In [9]:
"valid string?'  # opening and closing should be same

SyntaxError: unterminated string literal (detected at line 1) (246300127.py, line 1)

 * ASCII --> Anerican Standard Code for Info Interchange
 * Unicode , UTF-8, ANSI

### ASCII Maping
* a (097)  --->  z (122)
* A (065)  --->  Z (090)
* 0 (048)  --->  9 (057)

In [2]:
'a' > 'A'

True

In [3]:
"random" + 'random2'

'randomrandom2'

In [5]:
"a" * 3 * 5

'aaaaaaaaaaaaaaa'

* Lexicographical order --> order of words in a dictionary

In [6]:
"zebra" > "abcsdfghjk"

True

In [8]:
'aAa' > 'aaa'

False

In [9]:
l = 5
b=10
a=l*b

In [10]:
# Length =l, Breadth = b and Area = a

In [11]:
print('Length =',l, "Breadth =",b , 'Area =',a)

Length = 5 Breadth = 10 Area = 50

In [13]:
print('Length ={}, Breadth = {} and Area = {}'.format(l,b,a))

Length =5, Breadth = 10 and Area = 50

In [14]:
a = input()

result = 'variable is -{}'.format(a)

Yuvraj

In [15]:
result

'variable is -Yuvraj'

In [17]:
a =l*b

In [18]:
# f --> formatable string
print(f'Length -{1}, Breadth -{b}, and Area = {a}')

Length -1, Breadth -10, and Area = 50

In [19]:
ord('a') # ord function gives the ASCII value of a character

97

In [20]:
ord('@')

64

In [21]:
ord('$')

36

In [22]:
ord('%')

37

In [23]:
ord('\n')

10

In [24]:
chr(35)  # chr convert ASCII value to string

'#'

In [25]:
chr(23456)

'å® '

In [26]:
chr(128516)

'ðŸ˜„'

In [28]:
'''

Question 1;- 
1. Take a string input from the user
2. Print that string character by character with each character in new line


Input ;- 'INDIA'
Output ;- 
I
N
D
I
A
'''

"\n\nQuestion 1;- \n1. Take a string input from the user\n2. Print that string character by character with each character in new line\n\n\nInput ;- 'INDIA'\nOutput ;- \nI\nN\nD\nI\nA\n"

In [30]:
a = input()

for i in a:
    print(i)

INDIA
I
N
D
I
A

In [31]:
'''
Question 2;-
1. Take a string input from the user.
2. Print the following-
"First Character -<first_character> ,<last_character>"
'''

'\nQuestion 2;-\n1. Take a string input from the user.\n2. Print the following-\n"First Character -<first_character> ,<last_character>"\n'

In [34]:
a = input()

print(f'First Character -{a(0)}, Last Character -{a(-1)}')

INDIA

TypeError: 'str' object is not callable

In [35]:
a = "INDIA_IS_MY_COUNTRY"

In [36]:
a[:5]

'INDIA'

In [37]:
a[0] ='R'

TypeError: 'str' object does not support item assignment

In [38]:
# We can not change character of string

In [39]:
'''
Question 3-
1. Take a string input from the user.
2. Reverse that string

'''

'\nQuestion 3-\n1. Take a string input from the user.\n2. Reverse that string\n\n'

In [40]:
s = 'any string'

In [41]:
s[::-1]

'gnirts yna'

In [42]:
'''
Question 4-
1. Take a string input from user.
2. Return "PALINDROME" if the string is a palindrome. otherwise return "NOT A PALINDROME"
'''

'\nQuestion 4-\n1. Take a string input from user.\n2. Return "PALINDROME" if the string is a palindrome. otherwise return "NOT A PALINDROME"\n'

### PALINDROME ;-  any string which we can read forward or backward will be same

* NAMAN
* ANA

In [43]:
a = input()

NAMAN

In [44]:
def check_palindrome(a):
    return "PALINDROME" if a ==a[::-1] else "NOT A PALINDROME"

In [45]:
check_palindrome(a)

'PALINDROME'

In [46]:
a2 = input()

Naman

In [47]:
check_palindrome(a2)

'NOT A PALINDROME'

In [48]:
def check_palindrome(a):
    a= a.lower()
    return "PALINDROME" if a ==a[::-1] else "NOT A PALINDROME"

In [49]:
check_palindrome(a2)

'PALINDROME'

In [51]:
'''
Question 5 -
1. Take a string input from the user
2. Print the number of upper case character in that string

Input;- "This is a RANDOM stinG 67890, %^+"
Output ;- 8
'''

'\nQuestion 5 -\n1. Take a string input from the user\n2. Print the number of upper case character in that string\n\nInput;- "This is a RANDOM stinG 67890, %"\nOutput ;- 8\n'

In [52]:
a = "This is a RANDOM stinG 67890, %^+"

In [53]:
def count_upper_case(a):
    count=0
    
    
    for i in a:
        if ord(i) >=65 and ord(i) <=90:
            count +=1
    return count

In [54]:
count_upper_case(a)

8

In [55]:
def count_upper_case_2(a):
    count = 0
    
    for i in a:
        if i.isupper():
            count += 1
    return count

In [57]:
"A".isupper()

True

In [59]:
'a'.islower()

True

In [60]:
"A".islower()

False

In [61]:
count_upper_case_2(a)

8

In [63]:
count_upper_case_2(a)

8

In [64]:
'''
Question 6-
1. You are given a list of number between 1 abd 256
2. Generate a string from the chr value of these numbers.

Input - [65,97,65]
Output = 'Aad'

Explanation -
char(65) -> A
char(97) -> a
char(68) -> d

'''

"\nQuestion 6-\n1. You are given a list of number between 1 abd 256\n2. Generate a string from the chr value of these numbers.\n\nInput - [65,97,65]\nOutput = 'Aad'\n\nExplanation -\nchar(65) -> A\nchar(97) -> a\nchar(68) -> d\n\n"

In [65]:
a = [56,78,99,183,157,22,22,24,10,100]

In [72]:
def generate_string(a):
    s=""
    
    
    for i in a:
        s += chr(i)
    return a

In [73]:
generate_string(a)

[56, 78, 99, 183, 157, 22, 22, 24, 10, 100]

In [74]:
def generate_string_cool(a):
    result = []
    
    for i in a:
        result.append(chr(i))
    print(result)

In [75]:
generate_string_cool(a)

['8', 'N', 'c', 'Â·', '\x9d', '\x16', '\x16', '\x18', '\n', 'd']

In [78]:
def generate_string_cool(a):
    result = []
    
    for i in a:
        result.append(chr(i))
    return "".join(result)

In [79]:
generate_string_cool(a)

'8NcÂ·\x9d\x16\x16\x18\nd'

In [80]:
'''
Question 7-
1. Given a string of comma separated value
2. Convert it into a list of individual values.


Input ;- '56,78,99,101,23,34,56,102'
Output ;- [56,78,99,101,23,34,56,102]

'''

"\nQuestion 7-\n1. Given a string of comma separated value\n2. Convert it into a list of individual values.\n\n\nInput ;- '56,78,99,101,23,34,56,102'\nOutput ;- [56,78,99,101,23,34,56,102]\n\n"

In [81]:
a = '56,78,99,101,23,34,56,102'

In [82]:
def tough_way(a):
    result = []
    
    for i in a:

SyntaxError: incomplete input (3143590203.py, line 5)

In [83]:
def easy_way(a):
    list_a = a.split(",")
    
    print(list_a)

In [84]:
easy_way(a)

['56', '78', '99', '101', '23', '34', '56', '102']

In [86]:
"This_is_a_string".split("_")

['This', 'is', 'a', 'string']

In [87]:
def easy_way(a):
    list_a = a.split(",")
    result = []
    
    for i in list_a:
        result.append(int(i))
        
    return result

In [88]:
easy_way(a)

[56, 78, 99, 101, 23, 34, 56, 102]

### String -2

In [1]:
"4 5 6 7 8 9".split()

['4', '5', '6', '7', '8', '9']

In [3]:
random="This_is_a_underscore_string".split("_")

In [4]:
random

['This', 'is', 'a', 'underscore', 'string']

In [5]:
" ".join(random)

'This is a underscore string'

In [6]:
"_".join(random)

'This_is_a_underscore_string'

In [7]:
a = ['random', 102,202,'string']

In [8]:
" ".join(a)

TypeError: sequence item 1: expected str instance, int found

In [10]:
str(45)

'45'

In [11]:
'this is a random string'.find('is')

2

In [12]:
'this is a random string'.find(' a ') # index of the starting of sub-string

7

In [13]:
'this is a random string'.find('abcdfgh')
# -1 if sub-string is not present

-1

In [14]:
random = 'this is a random string that I have created!'

In [17]:
replaced_random=random.replace("random","SUPER RANDOM")

In [18]:
replaced_random
# replaced but genrate new string original will be same

'this is a SUPER RANDOM string that I have created!'

In [16]:
random

'this is a random string that I have created!'

In [19]:
random.count('a')

5

In [20]:
random.count('random')

1

In [21]:
'''
Question 1 -
1. Take a string as input 
2. If convert the string to lower case without using any in-built function to do the same
'''

'\nQuestion 1 -\n1. Take a string as input \n2. If convert the string to lower case without using any in-built function to do the same\n'

In [22]:
'This is A stRing'

'This is A stRing'

In [23]:
string = 'This is A stRing'

In [26]:
def custom_lower(a):
    result =''
    
    
    for i in string:
        order = ord(i)
        order += 32
        result += chr(order)
        
    return result

In [27]:
custom_lower(string)

't\x88\x89\x93@\x89\x93@a@\x93\x94r\x89\x8e\x87'

In [30]:
def custom_lower(a):
    result =''
    
    
    for i in string:
        if ord(i) >= 65 and ord(i) <= 90:
            order = ord(i)
            order += 32
            result += chr(order)
        else:
            result += i
        
    return result

In [31]:
custom_lower(string)

'this is a string'

In [32]:
" The product was amazing" == 'amazing'

False

In [33]:
'amazing' in 'The product was amazing'
# looks for the first string in the second one

True

In [34]:
'6'.isdigit()

True

In [35]:
'a'.isdigit()

False

In [36]:
"23456bvchjk".isdigit()

False

In [37]:
'34567'.isdigit() # works only for integers

True

In [39]:
'a'.isalpha()

True

In [41]:
'asdf34567'.isalpha()

False

In [42]:
'abc'.isalpha()

True

In [43]:
'A'.isupper()

True

In [44]:
'a'.islower()

True

In [45]:
'A'.islower()

False

In [46]:
'abc'.isspace()

False

In [47]:
" ".isspace()

True

In [48]:
'''
Question 2 -
1. Take a string as input.
2. Replace all spaces by underscore
'''

'\nQuestion 2 -\n1. Take a string as input.\n2. Replace all spaces by underscore\n'

In [49]:
string = "this is a random string!"

In [50]:
def change_to_underscore(string):
    result = ""
    for i in string:
        if i.isspace():
            result += "_"
        else:
            result += i
    return result

In [51]:
change_to_underscore(string)

'this_is_a_random_string!'

In [52]:
string.replace(" ","_")

'this_is_a_random_string!'

### Glossary of string Method

1. split
2. join
3. replace
4. find
5. count
6. isdigit
7. isalpha
8. islower
9. isupper
10. isspace
11. lower/upper
12. in