### Why we need time complexity ?

* How much time algorithm are taking to complete/execute the code

* Sorting data means arranging data in ascending or descending order

* Complexity -> Bring program on same state for comparison
* Time and space complexity is important more is time complexity

#### Time Complexity ;-
* Big O Notation (as variables approach infinity)
* no of operation  
* Big O Notation 99% time used
* Ignore constant and co-efficients
* Only consider higher degree of variable

 ### Q) What is the value of X^0 ?

* 1

 #### Operation

1. n+5    -> O(x)
2. 2n^2+3 -> O(n^2)
3. n^2+5x -> O(n^2)
4. 10     -> O(1)

* n = 10^10 (infinity)  --> very high number

In [ ]:
### Q2) def foo(n):
        print("x")
        print("y")
        print("n")

* Time complexity is O(1)

In [ ]:
### Q3) def foo(n):
           for num in range(n):
               print(num)
            print("done")

* Total Operation  --> 2n+1
* TC --> O(n)
* TC --> O(1)

In [ ]:
### Q4) def foo(n):
           for i in range(n):
                 print(i)
           for j in range(n):
                 print(j)

* Operation  -> 2n+2n = 4n 
* TC  --> O(n)

In [ ]:
### Q5) What is time complexity of this code:

for i in range(n):
    print(i)
for j in range(m):
    print(j)

* Operations  -> 2n + 2n --> 2(n+m)
* O(n+m)

* 2n^2 + 4m 
* TC -> O(n^2+m)

In [ ]:
### Q6) for i in range(n):
           for j in range(n):
               print("Hello")

* Operation -> n*2n^2
* TC  -> O(n^2)

In [ ]:
### Q7) for i in range(n):
            for j in range(m):
                 print("Hello")

* Operation  -> n*2m = 2nm
* TC  --> O(n*m)

In [ ]:
### Q8) What is the complexity of this code?

for i in range(n):
    for j in range(n):
        break

* Operation -> n*2 = 2n
* TC --> O(n)

In [ ]:
### Q9) for i in range(n):
           for j in range(i):
               print("Hello")

In [ ]:
* Operation -> 0+1+2+3+4+.......+n-1
            -> n(n-1)/2
            -> n^2-n/2

* TC -> O(n^2)

In [ ]:
### Q10) What is the time complexity of this code?
while n>=1:
    print(i)
    i-=1

* Operation -> 3n
* TC -> O(n)

In [ ]:
### Q11) What is the time complexity of this code
for i in range(n):
    for j in range(n):
        for k in range(n):
            print('Hello')

* Operation  -> 2n*n*n = 2n^3
* TC -> O(n^3)

In [ ]:
### Q12) while n>=1:
            print(n)
            n=n//2

* Operation  -> n = 8,4,2,1,0 (4 times)
* n = 23, 12, 6 , 1, 0 (5 times)
* n = 17 ,8 , 4, 2, 1, 0 (5 times)

* n , n/2 , n/4, n/8, ......... n/x = 1


* TC -> O(log2n)

In [ ]:
### Q13) for i in range(n):
            j=n
            while j>=1:
               print('Hello')
                j=j//2

* Operation -> nlog2n
* TC -> O(nlogn)

### Compare Time-Complexity

* k<logn<sqrtn  <n<nlogn<n^2<2^n<n!<n^n

* TC 1 = O(n)
* TC 2 = O(n^2)

### [https://www.desmos.com/calculator]

* x0 = log2(n)
* x0.1 = n^0.5
* x1 = n
* x2 = n^2
* x3 = 2^n
* x4 = n^n

## Space Complexity

* Space using memory 
* depends on memory used by variables

In [ ]:
* n=10  (1)
* [, , ,] (n)
* [ , , ,] + (, , ,)     ->  SC = O(n+m)

In [1]:
def fact(n):
    if n<=1:
        return 1
    return dact(n-1)*n

* SC --> O(n)

* When a code will running at any given pt what will be the maximum memory that  it will give is known as Space Complexity

### Ways of Calculating 

1. Tree
2. Substitution

#### 1. Tress Method

* find out max depth in chain , in this case depth is n

n -> n-1 -> n-2 -> ....... -> 1

### 2. Substitution Method

* Constant memory will used

* f(n) = f(n-1)*n

* TC(n) = TC(n-1) + k

* TC(n-1) = TC(n-2) +1

* TC(n) = TC(n-2) + 1+1
        = TC(n-2) + 2
    
* TC(n-2) = TC(n-3) + 1+2
          = TC(n-3) +3

* TC(n) = TC(n-k) + k                      [# recurrence relation]

* Base case n=1 return 1
* TC(0) = 1

* n-k = 0 --> n=k

* TC(n) = TC(0) + n = n+1
        =O(n)